<ion-header>
  <ion-toolbar>
    <ion-title>Tickets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full">
      <ion-label class="ion-text-wrap" style="font-weight: bold; width: 10%;">ID</ion-label>
      <ion-label class="ion-text-wrap" style="font-weight: bold; width: 20%;">Asunto</ion-label>
      <ion-label class="ion-text-wrap" style="font-weight: bold; width: 25%;">Descripción</ion-label>
      <ion-label class="ion-text-wrap" style="font-weight: bold; width: 15%;">Estado</ion-label>
      <ion-label class="ion-text-wrap" style="font-weight: bold; width: 15%;">Fecha Creación</ion-label>
      <ion-label class="ion-text-wrap" style="font-weight: bold; width: 15%;">Asignado A</ion-label>
    </ion-item>

    <ion-item *ngFor="let ticket of tickets" lines="full">
      <ion-label class="ion-text-wrap" style="width: 10%;">{{ ticket.id }}</ion-label>
      <ion-label class="ion-text-wrap" style="width: 20%;">{{ ticket.asunto }}</ion-label>
      <ion-label class="ion-text-wrap" style="width: 25%;">{{ ticket.descripcion }}</ion-label>
      <ion-label class="ion-text-wrap" style="width: 15%;">{{ ticket.estado }}</ion-label>
      <ion-label class="ion-text-wrap" style="width: 15%;">{{ ticket.fecha_creacion }}</ion-label>
      <ion-label class="ion-text-wrap" style="width: 15%;">{{ ticket.asignado_a }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
